@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(to bottom, navy, grey, navy);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  background-color: rgb(177, 115, 1);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

footer {
  background-color: rgb(177, 115, 1);
  text-align: center;
  font-style: italic;
  margin-top: 400px;
  padding: 5px;
  font-size: 14px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.m-50 {
  margin: 50px;
}


.header {
  text-align: center;
  margin-top: 4px;
  font-size: 2rem;
  font-weight: bolder;
}
.sub-header {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
}

.content {
  margin-top: 200px;
}

p {
  margin-bottom: 15px;
}

.blog-section {
  font-weight: 900;
  margin: 5px 10px 5px 0px;
}

.blog-button {
  border: 1px solid;
  padding: 15px;
}

.blog-date {
  margin: 20px;
  font-weight: 600;
  font-style: italic;
}

.blog-button:hover {
  background-color: black;
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out; 
}

.post {
  margin: 0px; 
}

.nav-link:hover {
    border: 1px solid white;
    border-radius: 10%;
    background-color: rgb(248, 187, 75);
}

@media screen and (min-width: 500px){
  .post {
    margin: 100px; 
  }

  
}