@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(to bottom, navy, grey, navy);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  background-color: rgb(197, 129, 1);
}

footer {
  background-color: rgb(197, 129, 1);
  text-align: center;
  font-style: italic;
  margin-top: 400px;
  padding: 5px;
  font-size: 14px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.header {
  font-family: var(--bubblegum-sans);
  text-align: center;
  margin-top: 4px;
  font-size: 2rem;
  font-weight: bolder;
}
.sub-header {
  font-family: var(--bubblegum-sans);
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
}

p {
  margin-bottom: 15px;
}

.blog-section {
  font-weight: 900;
  margin: 5px 10px 5px 0px;
}

.blog-button {
  border: 1px solid;
  padding: 15px;
}

.blog-date {
  margin: 20px;
  font-weight: 600;
  font-style: italic;
}

.blog-button:hover {
  background-color: black;
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out; 
}
