@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('../public/marcdevceo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer {
  text-align: center;
  font-style: italic;
  margin-top: 100px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  font-family: var(--bubblegum-sans);
  text-align: center;
  margin-top: 50px;
  font-size: 4rem;
}
.sub-header {
  font-family: var(--bubblegum-sans);
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
}

p {
  margin-bottom: 15px;
}

.blog-section {
  font-weight: 900;
}

.blog-button {
  border: 1px solid;
  padding: 15px;
}

.blog-date {
  margin: 20px;
  font-weight: 600;
  font-style: italic;
}

.blog-button:hover {
  background-color: black;
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out; /* Adjust timing and easing as needed */
}

